
@{
    ViewBag.Title = "Index";
}
<select class="selectpicker" name="contestid" id="contestselector"></select>
<button type="button" class="btn btn-primary btn-lg" id="confirmbtn" data-loading-text="読み込み中…">確定</button>

<table class="table table-bordered table-striped table-hover th-center td-center td-middle" id="standings">
    <thead>
        <tr>
            <th style="width:3%;white-space:nowrap;">順位</th>
            <th>ユーザ</th>
            <th style="width:84px;min-width:84px">得点</th>
            <th style="width:84px;min-width:84px">パフォ</th>
            <th style="width:168px;min-width:168px">レート変化</th>
        </tr>
    </thead>
    <tbody id="standings-body"></tbody>
</table>

@section Styles
{
    @Styles.Render("/Content/standingstable.css")
    @Styles.Render("/Content/bootstrap-select.min.css")
}
@section Scripts
{
    @Scripts.Render("/scripts/contestselector.js")
    @Scripts.Render("/scripts/bootstrap-select.min.js")
    @Scripts.Render("/scripts/drawcontesttable.js")
}